.article {
  padding: 0;
}

.article__section {
  display: flex;
}

.article__content {
  padding: 112px 30px 112px 44px;
  background-color: var(--blog-background-color);
}

.article__time {
  margin-bottom: 5px;

  font-size: 20px;
  line-height: 1.65;
  color: var(--secondary-text-color);
}

.article__title {
  margin-bottom: 26px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--secondary-text-color);
}

.article__text {
  margin-bottom: 17px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
}
