.callback {
  display: flex;
  padding: 0;
}

.callback__box {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 80px 30px;
  background-color: var(--secondary-background-color);
}

.callback__title {
  display: block;
  margin-bottom: 34px;
}

.callback__label {
  display: block;
  margin-bottom: 36px;

  &:nth-child(2) {
    margin-bottom: 60px;
  }
}

.callback__input {
  width: 100%;
  max-width: 620px;
  height: 40px;
  padding: 5px;

  background-color: var(--input-background-color);
  border: 1px solid var(--border-color);
}

.callback__input::placeholder {
  font-size: 18px;
  line-height: 1.56;

  color: var(--placeholder-text-color);
}

.callback__button {
  width: 100%;
  height: 42px;
  padding: 7px 277px 10px 291px;

  font-family: inherit;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--main-color);
  border: 0 solid transparent;
  border-radius: 5px;
}
