<section id="article" class="container article">
  <article class="article__section">
    <div class="article__content">
      <time datetime="2020-04-16" class="article__time">April 16 2020</time>
      <h2 class="article__title">Blog Post One</h2>
      <p class="article__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a href="#" class="button__primary">Read Our Blog</a>
    </div>
    <img src="./images/blog.jpg" alt="Workplace" width="680" height="517" />
  </article>
</section>
