<section id="cases" class="container cases">
  <p class="cases__subtitle">This is what we do</p>
  <h2 class="cases__title">Business Cases</h2>
  <p class="cases__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="cases__list">
    <li data-aos="zoom-in" data-aos-delay="300">
      <a href="#"
        ><img
          src="./images/complex-solutions.jpg"
          alt=""
          width="320"
          height="214"
      /></a>
    </li>
    <li data-aos="zoom-in" data-aos-delay="600">
      <a href="#"
        ><img
          src="./images/market-analysis.jpg"
          alt=""
          width="320"
          height="214"
      /></a>
    </li>
    <li data-aos="zoom-in" data-aos-delay="900">
      <a href="#"
        ><img
          src="./images/individual-approach.jpg"
          alt=""
          width="320"
          height="214"
      /></a>
    </li>
    <li data-aos="zoom-in" data-aos-delay="1200">
      <a href="#"
        ><img src="./images/teamwork.jpg" alt="" width="320" height="214"
      /></a>
    </li>
    <li data-aos="zoom-in" data-aos-delay="1500">
      <a href="#"
        ><img src="./images/calc-of-risks.jpg" alt="" width="320" height="214"
      /></a>
    </li>
    <li data-aos="zoom-in" data-aos-delay="1800">
      <a href="#"
        ><img
          src="./images/international-relations.jpg"
          alt=""
          width="320"
          height="214"
      /></a>
    </li>
    <li data-aos="zoom-in" data-aos-delay="2100">
      <a href="#"
        ><img
          src="./images/work-for-the-result.jpg"
          alt=""
          width="320"
          height="214"
      /></a>
    </li>
    <li data-aos="zoom-in" data-aos-delay="2400">
      <a href="#"
        ><img
          src="./images/satisfied-customer.jpg"
          alt=""
          width="320"
          height="214"
      /></a>
    </li>
  </ul>
</section>
