<footer class="container footer">
  <ul class="footer__list">
    <li>
      <a href="">
        <svg class="footer__icon" width="35" height="35">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="">
        <svg class="footer__icon" width="35" height="35">
          <use href="./images/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="">
        <svg class="footer__icon" width="40" height="35">
          <use href="./images/icons.svg#icon-YouTube"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="">
        <svg class="footer__icon" width="31" height="35">
          <use href="./images/icons.svg#icon-LinkedIn"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p class="footer__text">Copyright &copy; 2021 - FinanceLedger</p>
</footer>
