<section class="container team">
  <p class="team__undertext">Who we are</p>
  <h2 class="team__title">Our Professional Team</h2>
  <p class="team__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>

  <ul class="list team__list">
    <li class="team__item">
      <div class="team__thumb">
        <img
          src="./images/president.jpg"
          alt="President John Doe"
          width="420"
          height="280"
        />
        <ul class="social">
          <li>
            <svg width="35" height="35">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </li>
          <li>
            <svg width="35" height="35">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </li>
          <li>
            <svg width="40" height="35">
              <use href="./images/icons.svg#icon-YouTube"></use>
            </svg>
          </li>
          <li>
            <svg width="31" height="35">
              <use href="./images/icons.svg#icon-LinkedIn"></use>
            </svg>
          </li>
        </ul>
      </div>
      <h3 class="team__subtitle">John Doe</h3>
      <p class="team__text">President</p>
    </li>
    <li class="team__item">
      <div class="team__thumb">
        <img
          src="./images/vice-president.jpg"
          alt="Vice President Jane Doe"
          width="420"
          height="280"
        />
        <ul class="social">
          <li>
            <svg width="35" height="35">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </li>
          <li>
            <svg width="35" height="35">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </li>
          <li>
            <svg width="40" height="35">
              <use href="./images/icons.svg#icon-YouTube"></use>
            </svg>
          </li>
          <li>
            <svg width="31" height="35">
              <use href="./images/icons.svg#icon-LinkedIn"></use>
            </svg>
          </li>
        </ul>
      </div>
      <h3 class="team__subtitle">Jane Doe</h3>
      <p class="team__text">Vice President</p>
    </li>
    <li class="team__item">
      <div class="team__thumb">
        <img
          src="./images/marketing-head.jpg"
          alt="Marketing Head Steve Smith"
          width="420"
          height="280"
        />
        <ul class="social">
          <li>
            <svg width="35" height="35">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </li>
          <li>
            <svg width="35" height="35">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </li>
          <li>
            <svg width="40" height="35">
              <use href="./images/icons.svg#icon-YouTube"></use>
            </svg>
          </li>
          <li>
            <svg width="31" height="35">
              <use href="./images/icons.svg#icon-LinkedIn"></use>
            </svg>
          </li>
        </ul>
      </div>
      <h3 class="team__subtitle">Steve Smith</h3>
      <p class="team__text">Marketing Head</p>
    </li>
  </ul>
</section>
