<section class="container proposals">
  <img
    src="./images/team.jpg"
    alt="Our team"
    width="680"
    height="460"
    data-aos="new-animation"
    data-aos-duration="2000"
  />
  <div class="proposals__box">
    <p class="proposals__text">What you are looking for</p>
    <h2 class="proposals__title">We provide bespoke solutions</h2>
    <p class="proposals__article">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <a href="#" class="button__primary">Read More</a>
  </div>
</section>
