<section id="callback" class="container callback">
  <img
    src="./images/callback.jpg"
    alt="The man calls back"
    width="680"
    height="460"
  />
  <div class="callback__box">
    <h2 class="callback__title">Request Callback</h2>
    <form>
      <label class="callback__label">
        <input
          type="text"
          name="name"
          placeholder="Enter your Name"
          class="callback__input"
        />
      </label>
      <label class="callback__label">
        <input
          type="email"
          name="email"
          placeholder="Enter email*"
          class="callback__input"
        />
      </label>
      <button type="submit" class="callback__button">Send</button>
    </form>
  </div>
</section>
